### Server env variables
DATABASE_URL=
GITHUB_TOKEN=
SYNC_SECRET_TOKEN=
GITHUB_WEBHOOK_SECRET=

### Client env variables (prefix with `NEXT_PUBLIC_`)
NEXT_PUBLIC_SITE_URL=

### Optional helpers
SKIP_ENV_VALIDATION= # set to `true` to skip env validation during local dev (not recommended)
